*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.screen{
    display: flex;
    height: 100vh;
}

.left-size{
    flex: 1;
    height: auto;
    display: flex;
    justify-content:  center;
    align-items: center;

}

.left-size img{
    max-width: 500px;
    height: auto;
}

.right-size{
    width: 400px;
    background-color: #7c7f98;
    padding: 50px;
}

.right-size label{
    display: block;
    padding-bottom: 15px;
}

.right-size input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    padding: 8px;
    outline: 0;
}